<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User edit page</title>

</head>
<body>



<form th:method="PATCH" action="@{/user/{id}{id=${user.getId()}}}" th:object="${user}">
    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name"/>

        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:error="*{name}">name error</div>

        <br/>

        <label for="name">Password</label>
        <input type="text" th:field="*{password}" id="password"/>

        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:error="*{password}">password error</div>

        <br/>

        <label for="name">Email</label>
        <input type="text" th:field="*{email}" id="email"/>

        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:error="*{email}">email error</div>

        <br/>
    </div>
</form>
</body>
</html>