<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>Register Page</title>

</head>
<body>

<div align="center">
    <form action="#" th:action="@{/user/reg}" method="post" th:object="${user}">

        <p th:if="${error} != null" th:text="${error}">Error</p>

        <label th:for="firstName">First name:</label>
        <input type="text" id="firstName" th:field="*{firstName}"/>
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Incorrect first name</p>
        <br><br>

        <label th:for="lastName">Last name:</label>
        <input type="text" id="lastName" th:field="*{lastName}"/>
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Incorrect last name</p>
        <br><br>


        <label th:for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}"/>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect username</p>
        <br><br>

        <label th:for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}"/>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</p>
        <br><br>

        <label th:for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}"/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</p>
        <br><br>

        <input type="submit"/>

    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>